@import "https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap";
:root {
  --primary-color: #4e567e;
  --secondary-color: #8e69be;
  --tertiary-color: #e1701a;
  --header-font: "Cormorant Garamond", serif;
  --primary-font: monospace, monospace;
  --secondary-font: monospace, monospace;
}

html, body {
  font-family: var(--primary-font);
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

img.arrow {
  animation: bounce 2s infinite;
}

div#main {
  width: 100vw;
  flex-direction: column;
  display: flex;
}

section {
  width: 100vw;
  position: relative;
}

section.min-height {
  min-height: 50vh;
}

section img.viet_bg {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  width: 100vmax;
  z-index: -1;
  animation: slideIn 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

section img.background {
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  font-family: var(--primary-font);
  margin: 0;
  padding-top: 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: .8;
}

h2.title {
  font-family: var(--primary-font);
  text-transform: uppercase;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
}

h2 {
  font-family: var(--primary-font);
  font-size: 3em;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

p.large {
  width: 70%;
  margin: 40px auto 0;
  font-size: 24px;
}

p.small {
  font-size: 14px;
}

p.tag {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8e69be;
  border: 1px solid #8e69be;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

section#about {
  background-color: #7fb2f1;
  font-size: 1.5rem;
  display: block;
}

.about-content {
  text-align: center;
  margin: 1rem;
  padding-inline: 100px;
}

.skills-wrapper {
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  justify-items: center;
  font-size: 2rem;
  display: grid;
}

@media (max-width: 1000px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
  }
}

p.skill-label {
  margin-block: 1em;
  margin-inline: 0;
  font-size: 1.17em;
  font-weight: bold;
  display: block;
}

.skills-container {
  font-family: var(--secondary-font);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-item {
  color: #000;
  margin-top: 5pm;
  padding-bottom: 5px;
  transition: color .3s;
}

.skill-item:hover {
  color: #96eaff;
}

section#education {
  text-align: center;
  background-color: #f9f9f9;
  font-size: 1.5rem;
}

.education-content {
  text-align: left;
  padding-inline: 100px;
}

.dropdown-content {
  max-height: 500px;
  word-wrap: break-word;
  background: #c0daf1;
  border-left: .5rem solid #e1701a;
  border-radius: .25rem;
  margin-block: 1em;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    max-height: 500px;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}

.dropdown-content.closed {
  animation: fadeOut .5s ease-in forwards;
}

.dropdown-content.open {
  animation: fadeIn .5s ease-in forwards;
}

.dropdown-toggle {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 350;
}

section#projects {
  text-align: center;
  background-color: #eef1ff;
  font-size: 1.5rem;
}

.container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.project-content {
  align-items: center;
  margin-block: .5em;
  display: flex;
}

.project-image img {
  width: 15vw;
  max-width: 15vw;
  min-width: 10px;
  max-height: 20vw;
  margin-right: 2vw;
}

.project-description {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 24px 16px;
}

/*# sourceMappingURL=index.4d663569.css.map */
