/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

img.slideIn {
  animation: bounce 2s infinite;
}

/*img.slideIn.visible {
  transform: translateX(0);
  opacity: 1;
} */

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 50vh;
}

section.padding {
  padding: 1rem 0;
}

section img.viet_bg {
  animation: "slideIn" 1s ease-in-out;
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h1.name {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}


h2.title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 14px;
}

p.tag{

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8e69be;
  border-radius: 5px;
  border: 1px solid #8e69be;
  padding: 10px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 10px 25%;
}

.container .box {
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  justify-content: space-between;
  padding: 24px 16px;
  text-align: center;
  max-width: 300px;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}
