/**
* CSS file to hold styles that apply across the application
*/


@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

.responsive-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .responsive-section .responsive-header .content {
    width: 50%;
  }
  .project-content {
    flex-direction: row;
  }
}

:root {
  --primary-color: #4e567e;
  --secondary-color: #8e69be;
  --tertiary-color: #e1701a;
  --header-font: "Cormorant Garamond", serif;
  --primary-font: monospace, monospace;
  --secondary-font: monospace, monospace;
}

html,
body {
  font-family: var(--primary-font);
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

img.arrow {
  animation: bounce 2s infinite;

}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 50vh;
}

section img.viet_bg {
  animation: "slideIn" 1s ease-in-out;
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: var(--primary-font);
  font-size: 5vw;
  font-weight: 400;
  margin: 0;
  padding-top: 2vw;
  line-height: 0.8;
}


h2.title {
  font-family: var(--primary-font);
  font-size: 3vw;
  font-weight: 800;
  margin: 0;
  padding-top: 2vw;
  padding-bottom: 1vw;
  text-transform: uppercase;
}

h2 {
  font-family: var(--primary-font);
  font-size: 3em;
}

h3 {
  
  font-weight: 400;
  font-size: 2vw;
  margin: 0;
}

p {
  font-size: 1.5vw;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 2vw;
  width: 100%;
  margin: 0 auto;
  margin-top: 4vw;
}

p.small {
  font-size: 1vw;
  
}

p.tag{

  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #8e69be;
  border-radius: 5px;
  border: 1px solid #8e69be;
  padding: 0.25vw;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
  
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
  font-size: 2vw;
}

a:hover {
  color: #4e567e;
}

img.socialIcon {
  height: 3vw;
  width: 3vw;
}

.responsive-header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2vw;
  background: rgba(255,255,255,0.75);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  max-height: 2vw;
}


/* About Section */

section#about {
  display: block;
  background-color: #7fb2f1;
  font-size: 1.5vw;
}

.about-content {
  margin: 1vw;
  text-align: center;
  padding-inline: 10vw;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(30vw, 1fr)); 
  grid-gap: 2vw; /* Adjust as needed */
  justify-items: center;
  font-size: 2vw;
}

/* When the browser size is 800px or less, change the grid to 1 column */
@media (max-width: 800px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
  }
}

p.skill-label {
  display: block;
  font-size: 3.5vw;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.skills-container {
  font-family: var(--secondary-font);
  justify-content: center;
  align-items: center;
  text-align: center;

}

.skill-item {
  color:rgb(0, 0, 0); /* Change to the color you want */
  margin-top: 1vw; /* Adjust as needed */
  transition: color 0.3s ease; /* This will animate the color change */
  padding-bottom: 5px; /* Add some padding so the content isn't too close to the border */
}

.skill-item:hover {
  color: rgb(150, 234, 255); /* Change to the color you want on hover */
}

/* Education Section */

h2.education {
  text-align: center;
}

section#education {
  background-color: #f9f9f9;
  font-size: (1rem + 0.5vw);
}

.education-content {
  padding-inline: 4rem;
  align-items: left;
}

.dropdown-content {
  background: rgb(192, 218, 241);
  font-size: 1.25vw;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  max-height: 500px;
  word-wrap: break-word;
  border-left: 0.5rem solid #e1701a;
  border-radius: 0.25rem;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    max-height: 0;

  }
  100% {
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    max-height: 500px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

.dropdown-content.closed {
  animation: fadeOut 0.5s ease-in forwards;
}

.dropdown-content.open {
  animation: fadeIn 0.5s ease-in forwards;

}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2vw;
  font-weight: 350;
  padding-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Section for Projects */
section#projects {
  background-color: rgb(238, 241, 255);
  text-align: center;
  font-size: (1rem + 0.5vw);
}


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

.project-content {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  margin-block: 0.5em;
  width: 100%;
}


.project-image img {
  width: 15vw; /* Adjust as needed */
  max-width: 15vw; /* Prevent the image from becoming too large */
  min-width: 10vw; /* Prevent the image from becoming too small */
  max-height: 20vw;
  margin-right: 2vw; /* Add some space between the image and the description */
  transition: transform 0.3s ease; /* This will animate the scale change */
}
.project-image img:hover {
  transform: scale(1.1); /* Scale the image up to 110% when hovered */
}

.project-description {
  width: 40vw; /* Define a fixed width for the description column */
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  padding: 2.5vw 16px;
}
